<app-navbar></app-navbar>
<!-- Masthead -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Witamy na Dolnym Śląsku!</h1>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">
          Zapraszamy do zwiedzania krainy pełnej zamków, wzgórz, ciekawych wydarzeń historycznych oraz wspaniałych i kreatywnych przewodników!
        </p>
        <button class="btn btn-primary btn-xl js-scroll-trigger" (click)="scrollToElement(about)">Dowiedz się więcej</button>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section class="page-section bg-primary" id="about" #about>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Zapoznamy Was z najciekawszymi miejscami na Dolnym Śląsku</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">
          Możecie oglądać, ekspolorować, słuchać oraz napawać się wszystkimi tajemniczymi i mniej tajemniczymi lokalizacjami w regionie, a potem rozwiązywać quizy z nimi związanymi. Przewodnicy na pewno zaznajomią Was z wieloma ciekawostkami, które pozwolą Wam zdobywać jak najwięcej punktów.
        </p>
        <button class="btn btn-light btn-xl js-scroll-trigger" (click)="scrollToElement(services)">Zacznij już teraz!</button>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section class="page-section bg-white" id="services" #services>
  <div class="container">
    <h2 class="text-center mt-0">Nasze usługi</h2>
    <hr class="divider my-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <mat-icon class="mb-3">landscape</mat-icon>
          <h3 class="h4 mb-2">Poznanie atrakcji</h3>
          <p class="text-muted mb-0">Możecie poznać wszystkie najciekawsze miejsca i historie związane z Dolnym Śląskiem.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <mat-icon class="mb-3">question_answer</mat-icon>
          <h3 class="h4 mb-2">Quizy dla każdej atrakcji</h3>
          <p class="text-muted mb-0">Po zakończeniu zwiedzania możecie rozwiązać quiz dotyczący poznanego miejsca, aby sprawdzić czy dowiedzieliście się wystarczająco dużo.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <mat-icon class="mb-3">control_point</mat-icon>
          <h3 class="h4 mb-2">Zdobywanie punktów</h3>
          <p class="text-muted mb-0">Po każdym skończonym quizie zdobywacie punkty, których suma przekłada się na róznego rodzaju rywalizacje.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <mat-icon class="mb-3">playlist_add</mat-icon>
          <h3 class="h4 mb-2">Planowanie wycieczek (Przewodnicy)</h3>
          <p class="text-muted mb-0">Przewodnicy będą mogli planować wycieczki dla uczestników tak, aby łatwiej im było promować region.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../../../assets/images/main-portfolio-1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Obiekty techniki
            </div>
            <div class="project-name">
              Kolejkowo - Dworzec Świebodzki
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../../../assets/images/main-portfolio-2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Przyrodnicze
            </div>
            <div class="project-name">
              Śnieżka
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../../../assets/images/main-portfolio-3.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Przyrodnicze
            </div>
            <div class="project-name">
              Kolorowe Jeziorka
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../../../assets/images/main-portfolio-4.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Zamki i Pałace
            </div>
            <div class="project-name">
              Pałac w Kamieńcu Ząbkowickim
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../../../assets/images/main-portfolio-5.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Budynki sakralne
            </div>
            <div class="project-name">
              Kościół Pokoju w Świdnicy
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img class="img-fluid" src="../../../assets/images/main-portfolio-6.jpg" alt="">
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">
              Zamki i pałace
            </div>
            <div class="project-name">
              Zamek Czocha
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action Section -->
<section class="page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Chcesz korzystać z naszych usług?</h2>
    <a class="btn btn-light btn-xl" href="login">Zarejestruj się!</a>
  </div>
</section>

<!-- Contact Section -->
<section class="page-section bg-white" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Bądź z nami w kontakcie!</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">
          Chcesz zadać nam jakieś pytania dotyczące regionu bądź założenia konta przewodnickiego? Skontaktuj się z nami. Zawsze służymy pomocą!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div>+1 (202) 555-0149</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
        <!-- Make sure to change the email address in anchor text AND the link below! -->
        <a class="d-block" href="mailto:contact@yourwebsite.com">office@dstour.pl</a>
      </div>
    </div>
  </div>
</section>
