<div class="card-header text-center">
  <h1 class="text-uppercase">Zmiana hasła</h1>
  <h4 class="section-subheading text-white">Wpisz swoje stare hasło, a następnie podaj dwukrotnie nowe hasło.</h4>
</div>
<form [formGroup]="myForm" class="bg-white p-3 mt-3 mb-3">
  <div class="text-center">
    <mat-form-field class="w-100">
      <input matInput placeholder="Stare haslo" type="password" formControlName="oldPassword" required>
      <mat-error *ngIf="myForm.hasError('required', 'password')">
        Proszę podać stare hasło
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row text-center">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="Nowe haslo" type="password" formControlName="password" required>
        <mat-error *ngIf="myForm.hasError('required', 'password')">
          Proszę podać nowe hasło
        </mat-error>
        <mat-error *ngIf="myForm.get('password').hasError('minlength')">Minimalna długość to 6 znaków</mat-error>
        <mat-error *ngIf="myForm.get('password').hasError('maxlength')">Maksymalna długość to 20 znaków</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="Potwierdź nowe haslo" type="password" formControlName="confirmPassword">
        <mat-error *ngIf="myForm.hasError('notSame')">
          Nowe hasła do siebie nie pasują
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <mat-error *ngIf="!isGoodOldPassword">
    Niepoprawne stare hasło
  </mat-error>
  <div class="row text-center mt-3 mb-3">
    <div class="col">
      <button class="button-submit" mat-raised-button [disabled]="myForm.invalid" (click)="changePassword()">Zmień hasło</button>
    </div>
  </div>
</form>
