<!--<div class="card-container">-->
<!--  <div class="shadow card-content">-->
<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <p class="origin">{{ attraction.name }}</p>-->
<!--        <p class="destination">{{ attraction.type.typeName }}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <p class="time">{{ attraction.webpage }}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="icon-container shadow">-->
<!--    <mat-icon>airplanemode_active</mat-icon>-->
<!--  </div>-->
<!--</div>-->

<section id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <a class="portfolio-box" (click)="goToDetail()">
          <div *ngFor="let file of fileUploads" class="item">
<!--            <div class="panel-body">-->
              <app-details-upload [attrCard]="attrCard" [fileUpload]='file'></app-details-upload>
<!--            </div>-->
          </div>
<!--          <img class="img-fluid" src="../../../assets/images/bg-panel.jpg" alt="">-->
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              {{ attraction.city }}
            </div>
            <div class="project-name">
              {{ attraction.name }}
            </div>
          </div>
        </a>
    </div>
  </div>
</section>
