<div class="card-header text-center">
  <h1 class="text-uppercase">{{trip?.name}}</h1>
  <h4 class="section-subheading text-white">Zobacz szczegóły zaplanowanej przez Ciebie wycieczki...</h4>
</div>
<div class="container shadow-lg mb-3 mt-3 p-3 highlight">
  <div class="row mt-2">
    <div class="col-sm-3">
      <h5>Data wycieczki: </h5>
    </div>
    <div class="col-sm-9 text-right">
      {{trip?.tripDate.substring(0,10)}}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-3">
      <h5>Typ grupy: </h5>
    </div>
    <div class="col-sm-3 text-right">
      {{trip?.groupType}}
    </div>
    <div class="col-sm-3">
      <h5>Zarobek: </h5>
    </div>
    <div class="col-sm-3 text-right">
      {{trip?.wage}}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-3">
      <h5>Liczba uczestników: </h5>
    </div>
    <div class="col-sm-3 text-right">
      {{trip?.groupCount}}
    </div>
    <div class="col-sm-3">
      <h5>Biuro podróży: </h5>
    </div>
    <div class="col-sm-3 text-right">
      {{trip?.travelAgency}}
    </div>
  </div>
  <h3 class="text-center mt-3">Atrakcje wycieczki:</h3>
  <div class="row flights-container justify-content-center mt-3 mb-3">
    <div *ngFor="let tripAttr of trip?.tripAttr" class="col-sm-4">
      <app-profile-trip-detail-attr-card [tripAttr]="tripAttr"></app-profile-trip-detail-attr-card>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button class="button-submit mr-3" mat-raised-button (click)="openEditTripModal()">Redaguj</button>
    <button class="button-delete" mat-raised-button (click)="removeTrip()">Usuń</button>
  </div>
  <div class="row">
    <div class="col">
      <button mat-fab color="accent" id="go-home-btn" class="add-attr" routerLink="../../">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>
</div>
