.crew-container {
  margin-top: 15px;
  padding: 15px;
  background: white;
}

.crew-header {
  margin-bottom: 20px;
  font-weight: bold;
}

.cursor {
  cursor: pointer;
}

.add-attr {
  font-size: 30px;
  border-radius: 80px;
  position: absolute;
  z-index: 20;
  bottom: -38px;
  left: -12px;
}

.add-attr:hover {
  color: royalblue;
  background-color: #fffff0;
}

.card-header {
  background-color: rgba(0,0,0,.3);
}
