<form [formGroup]="myForm" class="bg-white p-3 mb-3">
  <div class="text-center">

  </div>
  <div class="row text-center">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="Nazwa wycieczki" formControlName="tripName">
        <mat-error *ngIf="myForm.get('tripName').hasError('required')">Nazwa wycieczki jest wymagana</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="Data wycieczki" formControlName="tripDate">
      </mat-form-field>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3">
      <mat-form-field class="w-100">
        <input matInput placeholder="Biuro podróży" formControlName="tourOperator">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="w-100">
        <input matInput placeholder="Liczba uczestników" formControlName="countGroup">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="w-100">
        <input matInput placeholder="Typ grupy" formControlName="groupType">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="w-100">
        <input matInput placeholder="Zarobek" formControlName="money" type="money">
      </mat-form-field>
    </div>
  </div>
  <div formArrayName="attr" class="crew-container shadow p-2" *ngFor="let attrName of attr.controls;index as index">
    <div class="row crew-header">
      <div class="col">
        <span>Atrakcja wycieczki - {{ index + 1 }}</span>
        <mat-icon class="float-right cursor" (click)="removeAttr(index)">delete_forever</mat-icon>
      </div>
    </div>
    <div class="row" [formGroupName]="index">
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-select formControlName="name" placeholder="Nazwa atrakcji" required>
            <mat-option *ngFor="let hero of heroes" [value]="hero.id">{{ hero.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Dodatkowy przewodnik" formControlName="additionalGuide">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Godzina przybycia" formControlName="timeIn" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Godzina zakończenia" formControlName="timeOut" required>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-fab color="accent" id="go-home-btn" class="add-attr" (click)="addAttr()">+</button>
    </div>
  </div>
</form>
