.button-submit {
  background-color: #0c5460;
  color: #eee;
}

.button-submit:hover {
  background-color: #eee;
  color: #0c5460;
}

.button-close:hover {
  background-color: #eee;
  color: #111;
}

.text-success {
  font-weight: bold;
}
