<mat-dialog-content>
  <h2 mat-dialog-title>Wyniki quizu</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Lp.</th>
      <th>Treść pytania</th>
      <th>Odp. użytkownika</th>
      <th>Odp. poprawna</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tr of answersTest | filter:searchText;index as index">
      <td>{{index+1}}</td>
      <td [matTooltip]="tr.question">{{tr.question.substring(0, 30)}}</td>
      <td [matTooltip]="tr.answerUserText" [ngClass]="{'text-success': tr.answer==tr.correctAnswer,
                      'text-danger':tr.answer!=tr.correctAnswer}">{{tr.answerUserText}}</td>
      <td [matTooltip]="tr.correctText">{{tr.correctText}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>Suma</th>
      <th>{{checked.points}}</th>
    </tr>
    </tfoot>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="row">
    <div class="col">
      <button mat-raised-button mat-dialog-close class="button-close">Zamknij</button>
    </div>
  </div>
</mat-dialog-actions>
