<h2 *ngIf="isCompleted==0" class="mt-3" mat-dialog-title>Zalicz atrakcję turystyczną - Quiz</h2>
<mat-dialog-content *ngIf="isCompleted==0">
  <div class="container" *ngFor="let task of tasks;index as index">
    <div *ngIf="i==index">
      <p>
        <ngb-progressbar *ngIf="((index+1)/quizlength)*100 < 25"
                         type="danger" [value]="((index+1)/quizlength)*100" [striped]="true"></ngb-progressbar>
        <ngb-progressbar *ngIf="((index+1)/quizlength)*100 < 50 && ((index+1)/quizlength)*100 >= 25"
                         type="warning" [value]="((index+1)/quizlength)*100" [striped]="true"></ngb-progressbar>
        <ngb-progressbar *ngIf="((index+1)/quizlength)*100 < 75 && ((index+1)/quizlength)*100 >= 50"
                         type="info" [value]="((index+1)/quizlength)*100" [striped]="true"></ngb-progressbar>
        <ngb-progressbar *ngIf="((index+1)/quizlength)*100 <= 100 && ((index+1)/quizlength)*100 >= 75"
                         type="success" [value]="((index+1)/quizlength)*100" [striped]="true"></ngb-progressbar>
      </p>
      <div class="row">
        <h5 class="text-left col-md-6">
          {{task.question}}
        </h5>
        <h5 class="col-md-6 text-right">Zadanie {{index+1}}/{{quizlength}}</h5>
      </div>
      <ul>
        <label>
          <mat-radio-button ngDefaultControl [(ngModel)]="selectedAnswer" name="selectedAnswer" value=1 (change)="radioChangeHandler($event, task)">{{task.answer1}}</mat-radio-button>
          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        </label>
      </ul>
      <ul>
        <label>
          <mat-radio-button ngDefaultControl [(ngModel)]="selectedAnswer" name="selectedAnswer" value=2 (change)="radioChangeHandler($event, task)">{{task.answer2}}</mat-radio-button>
          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        </label>
      </ul>
      <ul>
        <label>
          <mat-radio-button ngDefaultControl [(ngModel)]="selectedAnswer" name="selectedAnswer" value=3 (change)="radioChangeHandler($event, task)">{{task.answer3}}</mat-radio-button>
          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        </label>
      </ul>
      <ul>
        <label>
          <mat-radio-button ngDefaultControl [(ngModel)]="selectedAnswer" name="selectedAnswer" value=4 (change)="radioChangeHandler($event, task)">{{task.answer4}}</mat-radio-button>
          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        </label>
      </ul>
    </div>
  </div>
  <div class="container" *ngIf="quizlength<=1">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../../assets/images/hourglass.png" alt="hourglass" class="img-fluid">
      </div>
      <div class="col-lg-6 align-self-center">
        <h3 class="section-subheading text-dark bg-white bradius p-4">
          Jeszcze nie powstały żadne zadania do quizów na temat tej atrakcji. Prosimy poczekać do czasu ich dodania.
        </h3>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="isCompleted==1">
  <div class="container">
    <h3 class="text-center">Gratulacje!!!</h3>
    <h5>Quiz został przez Ciebie zaliczony! Poniżej zostały podane Twoje wyniki:</h5>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Lp.</th>
        <th>Treść pytania</th>
        <th>Odp. użytkownika</th>
        <th>Odp. poprawna</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tr of testResult;index as index">
        <td>{{index+1}}</td>
        <td [matTooltip]="tr.question">{{tr.question.substring(0, 30)}}</td>
        <td [matTooltip]="tr.answerUserText" [ngClass]="{'text-success': tr.answer==tr.correctAnswer,
                      'text-danger':tr.answer!=tr.correctAnswer}">{{tr.answerUserText}}</td>
        <td [matTooltip]="tr.correctText">{{tr.correctText}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Suma</th>
        <th>{{checkedAttr.points}} pkt</th>
      </tr>
      </tfoot>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="row w-100">
    <div class="col-3">
      <button mat-raised-button mat-dialog-close>Zamknij</button>
    </div>
    <div class="col-3" *ngIf="isCompleted==0">
      <button mat-raised-button color="accent" class="btn-info" [disabled]="quizlength<=1 || i<quizlength-1" (click)="generatemark()">Zapisz</button>
    </div>
    <div class="col-3" *ngIf="isCompleted==0">
      <button mat-raised-button (click)="previous()" *ngIf="i>0" >Poprzedni</button>
    </div>
    <div class="col-3" *ngIf="isCompleted==0">
      <button mat-raised-button color="primary"  (click)="next()" *ngIf="i<quizlength-1">Następny</button>
    </div>
<!--      <button mat-raised-button color="primary" [disabled]="attractionForm.form.invalid" (click)="createFlight()">Utwórz</button>-->
  </div>
</mat-dialog-actions>
