<div class="card-header text-center">
  <h1 class="text-uppercase">Twoje ocenione atrakcje</h1>
</div>
<div class="container bg-white">
  <div class="row">
    <div class="search-hero w-100">
      <input class="form-control w-100" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Wyszukaj atrakcję po nazwie">
    </div>
    <table class="table table-striped table-responsive-sm">
      <thead>
      <tr>
        <th>Nazwa atrakcji</th>
        <th>Ocena</th>
        <th>Data oceny</th>
        <th>Akcja</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rate of rating | async | filter:searchText">
        <td>{{rate?.attrName}}</td>
        <td>{{rate?.rate}}</td>
        <td>{{rate?.addDate}}</td>
        <td>
          <button mat-button (click)="removeRate(rate)">
            <mat-icon>delete</mat-icon>
            Usuń ocenę
          </button><br>
          <button mat-button (click)="openEditRateModal(rate)">
            <mat-icon>edit</mat-icon>
            Zmień ocenę
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
