<!--<mat-toolbar color="primary">-->
<!--  <div class="container">-->
<!--    <nav class="navbar navbar-expand-sm">-->

<!--      <span class="logo" routerLink="/dashboard">DS TOUR</span>-->
<!--      &lt;!&ndash; Links &ndash;&gt;-->
<!--      <ul class="navbar-nav mr-auto ml-3">-->
<!--        <li class="nav-item">-->
<!--          <span class="nav-link tab shadow" routerLink="/dashboard/attractions">Atrakcje turystyczne</span>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <span class="nav-link tab shadow" routerLink="/contact">Kontakt</span>-->
<!--        </li>-->
<!--      </ul>-->

<!--      <span class="user-login">Witaj, Jan Kowalski</span>-->
<!--      <mat-icon class="logout-icon">power_settings_new</mat-icon>-->
<!--    </nav>-->
<!--  </div>-->
<!--</mat-toolbar>-->


<!-- Navigation -->
<!--<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">-->
<!--  <div class="container">-->
<!--&lt;!&ndash;    <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>&ndash;&gt;-->
<!--    <span class="navbar-brand js-scroll-trigger logo" routerLink="/">DS TOUR</span>-->
<!--    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--      <ul class="navbar-nav ml-auto my-2 my-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link js-scroll-trigger" href="dashboard/attractions">Atrakcje turystyczne</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link js-scroll-trigger" href="/contact">Kontakt</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
