.button-submit {
  background-color: #ff0900;
  color: #eee;
}

.button-submit:hover {
  background-color: #eee;
  color: #ff0900;
}

.button-close:hover {
  background-color: #eee;
  color: #111;
}

.card-header {
  background-color: rgba(0,0,0,.3);
}
