<div class="card border-success mb-3 mt-3">
  <div class="card-header border-success">
    <div class="row">
      <div class="col-lg-7">
        Czas przybycia:
      </div>
      <div class="col-lg-5 text-right">
        {{tripAttr?.startHour}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        Czas zakończenia:
      </div>
      <div class="col-lg-5 text-right">
        {{tripAttr?.endHour}}
      </div>
    </div>
  </div>
  <div class="card-body text-success">
    <h4 class="card-title">{{tripAttr?.attrName}}</h4>
  </div>
  <div class="card-footer bg-transparent border-success text-center">
    <h5 *ngIf="tripAttr?.additionalGuide">Z przewodnikiem:</h5>
    {{tripAttr?.additionalGuide}}
  </div>
</div>
