h5 {
  margin-bottom: 5px;
}

.card {
  background-color: #f8f9fa;
}

.card:hover {
  background-color: #e7e8ea;
}

.card-body {
  cursor: pointer;
}

.border-success .border-success {
  border-width: 0.4px;
}
