<div class="container-fluid mb-5">
  <div class="row">
<!-- Sidebar -->
    <app-sidebar-attr (test)="getAttrType($event)"></app-sidebar-attr>
<!---->
    <div class="col-md-10 offset-md-2">
      <div class="container shadow-lg pb-2">
<!-- Categories -->
        <h2 class="text-center">Poznaj nasze atrakcje</h2>
        <div class="row mb-3">

          <div *ngIf="showAttrType==0" id="castles" class="col-md-12">

            <div class="attractions-container shadow">
              <div class="category-header shadow pb-2">
                <h3 class="pl-3">Zamki i pałace</h3>
              </div>
<!--              <div class="search-hero w-100">-->
<!--                <input class="form-control w-100" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Wyszukaj atrakcję po nazwie">-->
<!--              </div>-->
              <div class="row p-3">
                <div class="col-sm-4" *ngFor="let attraction of attrs$ | async | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <app-attraction-card [attraction]="attraction"></app-attraction-card>
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="showAttrType==1" id="events" class="col-md-12">

            <div class="attractions-container shadow">
              <div class="category-header shadow mb-5">
                <h3 class="pl-3">Wydarzenia</h3>
              </div>
              <div class="row">
                <div class="col-sm-4" *ngFor="let attraction of attrs$ | async">
                  <app-attraction-card [attraction]="attraction"></app-attraction-card>
                </div>
              </div>
              <div class="text-right">
                <span class="show-more mr-3">
                  Poznaj więcej...
                </span>
              </div>
            </div>

          </div>

          <div *ngIf="showAttrType==2" id="historical" class="col-md-12">

            <div class="attractions-container shadow">
              <div class="category-header shadow mb-5">
                <h3 class="pl-3">Miejsca historyczne</h3>
              </div>
              <div class="row">
                <div class="col-sm-4" *ngFor="let attraction of attrs$ | async">
                  <app-attraction-card [attraction]="attraction"></app-attraction-card>
                </div>
              </div>
              <div class="text-right">
                <span class="show-more mr-3">
                  Poznaj więcej...
                </span>
              </div>
            </div>

          </div>

          <div *ngIf="showAttrType==3" id="sacral" class="col-md-12">

            <div class="attractions-container shadow">
              <div class="category-header shadow mb-5">
                <h3 class="pl-3">Budynki sakralne</h3>
              </div>
              <div class="row">
                <div class="col-sm-4" *ngFor="let attraction of attrs$ | async">
                  <app-attraction-card [attraction]="attraction"></app-attraction-card>
                </div>
              </div>
              <div class="text-right">
                <span class="show-more mr-3">
                  Poznaj więcej...
                </span>
              </div>
            </div>

          </div>

          <div *ngIf="showAttrType==4" id="natural" class="col-md-12">

            <div class="attractions-container shadow">
              <div class="category-header shadow mb-5">
                <h3 class="pl-3">Przyrodnicze</h3>
              </div>
              <div class="row">
                <div class="col-sm-4" *ngFor="let attraction of attrs$ | async">
                  <app-attraction-card [attraction]="attraction"></app-attraction-card>
                </div>
              </div>
              <div class="text-right">
                <span class="show-more mr-3">
                  Poznaj więcej...
                </span>
              </div>
            </div>

          </div>

          <div *ngIf="showAttrType==5" id="technical" class="col-md-12">

            <div class="attractions-container shadow">
              <div class="category-header shadow mb-5">
                <h3 class="pl-3">Obiekty techniki</h3>
              </div>
              <div class="row">
                <div class="col-sm-4" *ngFor="let attraction of attrs$ | async">
                  <app-attraction-card [attraction]="attraction"></app-attraction-card>
                </div>
              </div>
              <div class="text-right">
                <span class="show-more mr-3">
                  Poznaj więcej...
                </span>
              </div>
            </div>

          </div>

          <div *ngIf="showAttrType==6" id="court" class="col-md-12">

            <div class="attractions-container shadow">
              <div class="category-header shadow mb-5">
                <h3 class="pl-3">Dwory i dworki</h3>
              </div>
              <div class="row">
                <div class="col-sm-4" *ngFor="let attraction of attrs$ | async">
                  <app-attraction-card [attraction]="attraction"></app-attraction-card>
                </div>
              </div>
              <div class="text-right">
                <span class="show-more mr-3">
                  Poznaj więcej...
                </span>
              </div>
            </div>

          </div>

          <div *ngIf="showAttrType==7" id="other" class="col-md-12">

            <div class="attractions-container shadow">
              <div class="category-header shadow mb-5">
                <h3 class="pl-3">Pozostałe</h3>
              </div>
              <div class="row">
                <div class="col-sm-4" *ngFor="let attraction of attrs$ | async">
                  <app-attraction-card [attraction]="attraction"></app-attraction-card>
                </div>
              </div>
              <div class="text-right">
                <span class="show-more mr-3">
                  Poznaj więcej...
                </span>
              </div>
            </div>

          </div>
<!---->
        </div>
        <ngb-pagination [collectionSize]="1" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

        <h2 *ngIf="role==='Administrator'" class="text-center">Dodaj zdjęcie do atrakcji</h2>
        <div *ngIf="role==='Administrator'" class="card">
          <app-form-upload></app-form-upload>
        </div>

<!--        <app-listupload></app-listupload>-->
      </div>
    </div>
  </div>
</div>

<button *ngIf="role==='Administrator'" (click)="openNewAttractionModal()" mat-fab color="accent" id="new-attraction-btn">+</button>
