.attractions-container {
  padding-top: 30px;
}

#new-attraction-btn {
  position: fixed;
  bottom: 70px;
  right: 50px;
  font-size: 30px;
}

.category-header {

}

.show-more {
  font-weight: bold;
}

.container {
  border-radius: 5px;
  z-index: 1;
  background-color: #f8f9fa;
}

.container-fluid {

}

