/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.toast-success {
  background: #0fdb00;
}

.toast-error {
  background: #ff0900;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("/assets/images/bg-main.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-margin {
  margin-top: 100px;
}


